@charset "UTF-8";
@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 300;
  src: url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format("woff"), url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  src: url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format("woff"), url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format("opentype");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  -ms-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: "Noto Sans TC", "Open Sans", sans-serif;
  color: #38470B;
}

.m-btn {
  border: none;
  padding: 8.5px;
  width: 100%;
  font-weight: 400;
  line-height: 27px;
}

.m-hr {
  margin-top: 14px;
  margin-bottom: 10px;
  height: 1px;
  background-color: #949C7C;
}

.m-inputColumn {
  margin-bottom: 16px;
}
.m-inputColumn__title {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
  color: #ffffff;
  font-weight: 400;
}
.m-inputColumn__input {
  width: 100%;
  border: 0;
  background-color: #ffffff;
  height: 38px;
  padding: 8px 10px;
  color: #6A6A6A;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.m-inputColumn__checkFormat {
  font-size: 14px;
  line-height: 16px;
  color: #ffbc00;
}

.m-modal {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
}
.m-modal__wrap {
  background-color: #ffffff;
  margin: auto;
  width: 1100px;
  height: 600px;
  position: relative;
  top: 5%;
  border: 1px solid #38470B;
}
.m-modal__wrap__content {
  width: 100%;
  height: 100%;
}
.m-modal__wrap__content__close {
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
  border: none;
}
.m-modal__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.m-flowCard {
  display: flex;
}
.m-flowCard__item {
  width: 160px;
  height: 135px;
  margin-right: 30px;
  position: relative;
}
.m-flowCard__item:last-child {
  margin-right: 0px;
}
.m-flowCard__item:not(:last-child)::after {
  content: "";
  background-image: url(/images/icon/icon_arrow.svg);
  width: 7px;
  height: 14px;
  position: absolute;
  right: -20px;
  top: 10px;
}
.m-flowCard__item__title {
  background-color: #949C7C;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.m-flowCard__item__content {
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  padding: 14px 7px;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #949C7C;
  height: calc( 100% - 50px );
}

.m-slidesLightbox {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
}
.m-slidesLightbox__container {
  width: 100%;
  height: 100%;
  position: relative;
}
.m-slidesLightbox__container__close {
  color: #fff;
  position: absolute;
  font-size: 36px;
  right: 3%;
  top: 3%;
}
.m-slidesLightbox__container__photo {
  width: 500px;
  height: 580px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 25px auto;
}
.m-slidesLightbox__container__prev {
  cursor: pointer;
  position: absolute;
  background-image: url(/images/icon/icon_lightbox_left.svg);
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 57px;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
.m-slidesLightbox__container__prev:hover {
  opacity: 0.5;
}
.m-slidesLightbox__container__next {
  cursor: pointer;
  position: absolute;
  background-image: url(/images/icon/icon_lightbox_right.svg);
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 57px;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
}
.m-slidesLightbox__container__next:hover {
  opacity: 0.5;
}
.m-slidesLightbox__mask {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: -1;
}

.m-carousel {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}
.m-carousel__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.m-carousel__carouselCircle {
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
}
.m-carousel__carouselCircle__dot {
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: transparent;
  border: 1px solid #38470B;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.m-carousel__carouselCircle .--isActive {
  background-color: #38470B;
}

.m-amenities__list {
  display: flex;
  flex-wrap: wrap;
}
.m-amenities__list__item {
  height: 60px;
  width: 60px;
  margin-right: 35px;
  margin-bottom: 25px;
  position: relative;
  text-align: center;
}
.m-amenities__list__item img {
  opacity: 0.2;
  width: 40px;
  height: 40px;
}
.m-amenities__list__item p {
  padding-top: 8px;
  font-size: 10px;
  line-height: 15px;
  font-weight: 300;
}
.m-amenities__list__item::after {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("/images/icon/icons-cancel.svg");
  position: absolute;
  top: 0;
  right: -8px;
  opacity: 0.2;
}
.m-amenities__list__item.--isProvided::after {
  opacity: 1;
  background-image: url("/images/icon/icons-ok.svg");
}
.m-amenities__list__item.--isProvided img {
  opacity: 1;
}

.loadingMask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(143, 158, 98, 0.95);
  z-index: 1111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in;
}
.loadingMask__text {
  color: #ffffff;
}

.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  top: 15px;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}

.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}

.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot {
  80%, 100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%, 0% {
    transform: scale(1);
  }
}
.opacity-animate {
  animation: opt-animation 0.5s;
  animation-fill-mode: forwards;
}

@keyframes opt-animation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.l-wrap {
  width: 100vw;
  height: 100vh;
  background-color: #00000090;
  position: relative;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-container {
  width: 1100px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.p-carouselBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.p-carouselBg .m-carousel__carouselCircle__dot {
  border: 1px solid #ffffff;
}
.p-carouselBg .m-carousel__carouselCircle .--isActive {
  background-color: #ffffff;
}

.p-contact {
  width: 180px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  color: #fff;
}
.p-contact__content {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}
.p-contact__content p {
  padding: 3px 0;
}
.p-contact__content p:first-child {
  font-weight: 400;
  margin-bottom: 16px;
}

.p-gallery {
  width: 825px;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
}
.p-gallery__item {
  position: relative;
  width: 275px;
  height: 275px;
}
.p-gallery__item:hover {
  cursor: pointer;
}
.p-gallery__item__photo {
  position: absolute;
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.p-gallery__item__roomName {
  position: absolute;
  background-color: rgba(56, 71, 11, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.p-gallery__item__roomName:hover {
  opacity: 1;
}

.p-room {
  width: 100%;
  height: 100vh;
  display: flex;
}

.p-room-bookAction {
  width: 40%;
  height: 100%;
  position: fixed;
}
.p-room-bookAction a {
  position: absolute;
  top: 10%;
  left: 20%;
  color: #38470B;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
.p-room-bookAction a::before {
  content: "ã„‘";
}
.p-room-bookAction__box {
  position: absolute;
  top: 60%;
  text-align: center;
  width: 100%;
}
.p-room-bookAction__box__price {
  font-family: "Open Sans";
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.p-room-bookAction__box__price span {
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 5px;
  margin-left: 20px;
}
.p-room-bookAction__box__Btn {
  background-color: #38470B;
  width: 252px;
  color: #fff;
  font-size: 20px;
}
.p-room-bookAction__box__Btn:hover {
  cursor: pointer;
  background-color: #949C7C;
}
.p-room-bookAction .m-carousel__bg {
  cursor: pointer;
}

.p-room__content {
  margin-left: 40%;
  width: 670px;
  padding: 105px 30px;
  height: 100%;
}
.p-room__content__title {
  margin-bottom: 38px;
}
.p-room__content__title__name {
  font-size: 40px;
  line-height: 55px;
}
.p-room__content__title__spec {
  font-size: 14px;
  line-height: 20px;
}
.p-room__content__opentimePrice {
  margin-bottom: 35px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
.p-room__content__checkinInfo {
  margin-bottom: 45px;
  font-weight: 200;
  font-size: 14px;
  line-height: 24px;
}
.p-room__content__roomQueryTitle {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
}
.p-room__content__chooseBookDate {
  border: 1px solid #38470B;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
}
.p-room__content__resetChooseBookDate {
  color: #949C7C;
  font-size: 14px;
  line-height: 24px;
  padding-top: 6px;
  padding-bottom: 30px;
}

.p-bookingModal {
  width: 100%;
  height: 100%;
  display: flex;
}
.p-bookingModal h2 {
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  margin-bottom: 8px;
}
.p-bookingModal h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 25px;
  position: relative;
}
.p-bookingModal h3::after {
  content: "";
  position: absolute;
  width: calc( 100% - 170px );
  height: 1px;
  background-color: #949C7C;
  top: 50%;
  left: 0%;
  margin-left: 80px;
}
.p-bookingModal__checkinInput {
  width: 40%;
  color: #ffffff;
  background-color: #38470B;
  padding: 50px 63px;
}
.p-bookingModal__checkinInput__total__liveDays {
  color: #949C7C;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.p-bookingModal__checkinInput__total__totalPrice {
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 20px;
}
.p-bookingModal__checkinInput__total__totalPrice span {
  font-size: 14px;
  line-height: 20px;
  display: block;
}
.p-bookingModal__checkinInput__btn {
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  border: 1px solid #ffffff;
  background-color: #38470B;
  cursor: pointer;
}
.p-bookingModal__checkinInput__btn:hover {
  background-color: #949C7C;
  border: 1px solid #949C7C;
}
.p-bookingModal__checkinInput__dontPay {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  margin-top: 18px;
}
.p-bookingModal__checkinInfo {
  width: 60%;
  overflow: auto;
  padding-top: 50px;
  padding-left: 30px;
  padding-bottom: 30px;
}
.p-bookingModal__checkinInfo__descriptionShort {
  margin-bottom: 27px;
}
.p-bookingModal__checkinInfo__amenities .m-amenities__list__item {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}
.p-bookingModal__checkinInfo__amenities .m-amenities__list__item img {
  width: 30px;
  height: 30px;
}
.p-bookingModal__checkinInfo__amenities .m-amenities__list__item p {
  color: #949C7C;
  font-size: 10px;
}
.p-bookingModal__checkinInfo__amenities .m-amenities__list__item::after {
  display: none;
}
.p-bookingModal__checkinInfo p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.p-bookingModal__checkinInfo__info li {
  font-size: 12px;
  line-height: 26px;
  font-weight: 300;
}

.p-bookingResult {
  background-color: #38470B;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.p-bookingResult__resultText {
  font-size: 50px;
  line-height: 74px;
  padding: 41px 0px;
}
.p-bookingResult__description {
  max-width: 468px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}